.card{
    flex: 1;
    margin: 1rem 0;
    padding: 1rem;
    background: rgb(168, 168, 168);
    border-radius: 1rem;

    &__image{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 0.5;
    }
}