.skillbar{
    position: relative;
    background-color: white;
    width: 100%;
    margin-top: 1rem;

    &__background{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #d9d9d9;
        border-left: 2px solid rgba(0, 0, 0, 0.09);
    }

    &__title{
        z-index: 10;
        position: relative;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: #666;
        line-height: 1.4rem;
    }
}