.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #272832;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;

    &__title{
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__menu{
        display: none;
        position: absolute;
        width: 100%;
        background: #272832;
        color: white;
        left: 0;

        &--active{
            display: block;
            margin: 1.1rem 0;
            padding: 2rem 0;
        }

        &-wrapper{
            max-width: 1000px;
            margin: auto;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
        }
    }

    &__link{
        color: inherit;
        text-decoration: none;
        margin: 1rem 0;
        width: fit-content;

        &:hover{
            text-decoration: underline;
        }
    }

    &__button{
        border: none;
        background: none;
        font-size: 1.3rem;
        padding: 1.2rem;
        cursor: pointer;

        &--active{
            background: #272832;
            color: white;
        }
    }

    &__social{
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
    }
}