.project-info-bar{
    position: fixed;
    bottom: 1rem;
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    left: 50%;
    z-index: 50;
    align-items: center;
    gap: 0.5rem;
    max-width: 600px;

    &__home{
        font-size: 1rem;
        line-height: 100%;
        color: inherit;
        text-decoration: none;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    &__wrapper{
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        width: 100%;
        align-items: center;
        border-radius: 0.5rem;
    }

    &__content{
        flex: 1;
        padding: 0 1rem;
        
        &-subtitle{
            font-size: 0.9rem;
            font-weight: 200;
        }

        &-title{
            font-weight: 300;
        }

        &-link{
            display: block;
            padding-right: 0.5rem;
            font-size: 2rem;
            line-height: 100%;

            i{
                line-height: 100%;
            }
        }
    }

    &__button{
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: inherit;
        border: none;
    }

    &__image{
        width: 100px;
        height: 65px;
        object-fit: cover;
        border-radius: 0.5rem;
        padding: 0.15rem;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 5rem;
        right: 1rem;
        gap: 0.5rem;

        &-link{
            color: inherit;
            text-decoration: none;
            font-weight: 100;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 0.5rem;
        }
    }
}