.design{
    padding: 2rem 1rem;

    &__desktop{

        &-image{
            width: 100%;
            display: block;
            border-radius: 0.2rem;
        }

        &-title{
            padding: 1rem 0;
        }

        &-container{
            padding: 0.2rem;
            position: relative;
            background-color: rgb(184, 184, 184);
            border-radius: 0.3rem;
            border-top: 2rem solid rgb(184, 184, 184);

            &::after{
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 999px;
                display: block;
                content: "";
                position: absolute;
                top: -1.2rem;
                left: 0.5rem;
            }

            &::before{
                width: 10px;
                height: 10px;
                background-color: yellow;
                border-radius: 999px;
                display: block;
                content: "";
                position: absolute;
                top: -1.2rem;
                left: 1.5rem;
            }
        }

        &-searchbar{
            position: absolute;
            background-color: white;
            top: -1.35rem;
            width: 88%;
            height: 1rem;
            right: 0.2rem;
        }
    }

    &__mobile{
        margin: 1rem 0;

        &-container{
            padding: 1rem;
            background-color: black;
            border-radius: 1rem;
            width: 60%;
            margin: auto;
            position: relative;

            &::after{
                content: "";
                height: 0.5rem;
                width: 2rem;
                background-color: white;
                display: block;
                border-radius: 999px;
                top: 0.3rem;
                position: absolute;
                left: 50%;
                transform: (translateX(-50%));
            }
        }

        &-title{
            padding: 1rem 0;
        }

        &-image{
            width: 100%;
            border-radius: 0.2rem;
            display: block;
            margin: 0 auto;
            border: 1px solid rgb(148, 148, 148);
        }
    }
}